<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <nz-avatar class="header-avatar" nzIcon="user" [nzSrc]="profilePhoto" (error)="onImageError($event)"></nz-avatar>
        <span class="header-username" nz-tooltip [nzTooltipTitle]="userName">{{ userName }}</span>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/dashboard/user/details/welcome" routerLinkActive="ant-menu-item-selected" nz-tooltip [nzTooltipTitle]="'Vue d\'ensemble'" nzTooltipPlacement="right">
        <span nz-icon nzType="appstore"></span>
        <span>Vue d'ensemble</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/user/details/subscription" routerLinkActive="ant-menu-item-selected" nz-tooltip [nzTooltipTitle]="'Mes Souscriptions'" nzTooltipPlacement="right">
        <span nz-icon nzType="user"></span>
        <span>Mes Souscriptions</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/user/details/paiements" routerLinkActive="ant-menu-item-selected" nz-tooltip [nzTooltipTitle]="'Paiements'" nzTooltipPlacement="right">
        <span nz-icon nzType="dollar"></span>
        <span>Paiements</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/user/details/reclamations" routerLinkActive="ant-menu-item-selected" nz-tooltip [nzTooltipTitle]="'Réclamations'" nzTooltipPlacement="right">
        <span nz-icon nzType="exclamation-circle"></span>
        <span>Réclamations</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/user/details/documents" routerLinkActive="ant-menu-item-selected" nz-tooltip [nzTooltipTitle]="'Mes Documents'" nzTooltipPlacement="right">
        <span nz-icon nzType="file-text"></span>
        <span>Mes Documents</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/user/details/evenements" routerLinkActive="ant-menu-item-selected" nz-tooltip [nzTooltipTitle]="'Suivi Projet'" nzTooltipPlacement="right">
        <span nz-icon nzType="calendar"></span>
        <span>Suivi Projet</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/user/details/recompenses" routerLinkActive="ant-menu-item-selected" nz-tooltip [nzTooltipTitle]="'Mes Récompenses'" nzTooltipPlacement="right">
        <span nz-icon nzType="gift"></span>
        <span>Mes Récompenses</span>
      </li>
      <li nz-menu-item routerLink="/dashboard/user/details/parametre" routerLinkActive="ant-menu-item-selected" nz-tooltip [nzTooltipTitle]="'Paramètre'" nzTooltipPlacement="right">
        <span nz-icon nzType="setting"></span>
        <span>Paramètre</span>
      </li>
      <li 
        nz-menu-item 
        (click)="showLogoutConfirm()" 
        nz-tooltip 
        [nzTooltipTitle]="'Déconnexion'" 
        nzTooltipPlacement="right"
      >
        <span nz-icon nzType="logout"></span>
        <span>Déconnexion</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="main-layout">
    <nz-header>
      <div class="app-header">
        <div class="header-left">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
          </span>
        </div>
        <div class="header-right">
          <span class="description">Coordination syndicale du CHU d'Angré</span>
          <button class="logout-icon-btn" (click)="showLogoutConfirm()" nz-tooltip="Déconnexion">
            <span nz-icon nzType="logout" nzTheme="outline"></span>
          </button>
        </div>  
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>