<h2 class="document-title">Mes Documents</h2>

<div class="document-list">
  <div class="document-item" *ngFor="let doc of documents; let i = index">
    <div class="document-info">
      <strong>{{ doc.nom_original }}</strong>
      <small>Publié le {{ doc.date_telechargement | date:'dd MMM yyyy' }}</small>
    </div>
    <button nz-button nzType="primary" class="btn" (click)="onConsulter(doc)">
      <i nz-icon></i> Consulter
    </button>
  </div>
  
  <!-- Message si pas de documents -->
  <div *ngIf="documents.length === 0 && !loading" class="no-documents">
    <nz-empty 
    nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
    nzNotFoundContent="Aucun document trouvé">
  </nz-empty>
  </div>
  
  <!-- Loading -->
  <div *ngIf="loading" class="loading">
    <p>Chargement des documents...</p>
  </div>
</div>

<!-- Pagination -->
<div class="pagination-container" *ngIf="totalDocuments > pageSize " style="margin-top: 20px;">
  <nz-pagination 
    [(nzPageIndex)]="currentPage"
    [nzTotal]="totalDocuments"
    [nzPageSize]="pageSize"
    nzShowSizeChanger="false"
    nzShowQuickJumper="false" 
    nzSize="small"
    (nzPageIndexChange)="onPageChange($event)">
  </nz-pagination>
</div>