<!-- <app-hearder></app-hearder> -->
<div class="register-container">
  <h2>Inscription</h2>
  <form>
    <label for="name">Nom</label>
    <input id="name" type="text" name="name" required>

    <label for="email">Email</label>
    <input id="email" type="email" name="email" required>

    <label for="password">Mot de passe</label>
    <input id="password" type="password" name="password" required>

    <label for="confirm">Confirmer le mot de passe</label>
    <input id="confirm" type="password" name="confirm" required>

    <button type="submit">S'inscrire</button>
  </form>
  <div class="login-prompt">
    <p>Déjà inscrit ? <a [routerLink]="['/authentification/login']">Connectez-vous</a></p>
  </div>
</div>
<!-- <app-footer></app-footer>  -->